CardsLibrary/obj
CardsLibrary/bin
Contracts/obj
Contracts/bin
ExperimentLibrary/obj
ExperimentLibrary/bin
PlayerLibrary/obj
PlayerLibrary/bin
Sandbox/obj
Sandbox/bin
ShufflerLibrary/obj
ShufflerLibrary/bin
StrategyLibrary/obj
StrategyLibrary/bin