CardsLibrary/obj
CardsLibrary/bin
Contracts/obj
Contracts/bin
ExperimentLibrary/obj
ExperimentLibrary/bin
PlayerLibrary/obj
PlayerLibrary/bin
Sandbox/obj
Sandbox/bin
ShufflerLibrary/obj
ShufflerLibrary/bin
StrategyLibrary/obj
StrategyLibrary/bin
Elon/bin
Elon/obj
Mark/bin
Mark/obj
Gods/bin
Gods/obj